
<form [formGroup]="coletaneaForm" >
  <div class="formulario pt-5">
    
    <div class="row">
      <div class="col">
          <label>Nome Da Coletanea:</label>
          <input formControlName="tituloDaObra" (keyup)="enviarColetanea()" class="form-control">
      </div>
    </div>
    <div class="row ">
        <div class="col">
            <label>Seu Nome:</label>
            <input formControlName="nomeAutor" (keyup)="enviarColetanea()" class="form-control">
      </div>
    </div>
    <ng-container formArrayName="listaMusicas" *ngFor="let musica of coletaneaForm.get('listaMusicas').controls; let i = index;">
        <div class="card m-2" [formGroupName]="i"> 
            <div class="card-header">
            <div class="row">
                <div class="col"><p>Musica ({{i+1}}): Nome Da Musica</p> </div>
                <div class="col">
                    <button class="btn btn-outline-danger float-right">X</button>
                    <button (click)="addItem()" class="btn btn-outline-success float-right">Nova Música +</button>
                </div>
            </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label>Nome Da Musica:</label>
                        <input formControlName="tituloMusica" (keyup)="enviarColetanea()" class="form-control">
                    </div>
                </div>
                <div class="row">
                <div class="col">
                    <label>letra da musica:</label>
                    <textarea name="" (keyup)="enviarColetanea()" formControlName="letra" id="" class="form-control" cols="30" rows="5"></textarea>
                </div>
                </div> 
            </div>
        </div>
    </ng-container> 
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Ok</button>
        </div>
    </div>     
  </div>
</form>
